<!DOCTYPE html>
<html>
<head>
    <title>NEMTODO</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap.css.map" rel="stylesheet"/>
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


</head>
<body>

    <%- body %>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
</body>
</html>